/* Tela bolsistas*/

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

th {
    background-color: #4CAF50; 
    color: white;
}

td {
    padding: 8px;
}

ody {
    font-family: 'Arial', sans-serif;
    font-size: 23px;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color:  #388e3c; 
    color: #fff; 
    padding: 10px 0;
}

header h1 {
    margin: 0;
}

nav {
    background-color:  #388e3c; 
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 8px 12px; 
    border-radius: 3px;
    background-color:  #207026; 
    transition: background-color 0.3s ease; 

}

nav ul li a:hover {
    background-color: #1b5e20; 
}

section {
    padding: 20px;
}

footer {
    text-align: center;
    background-color: #f0f0f0;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}